.project-backgorund{
    display: flex;
    flex-direction: column;
    background-color: #151515;
    height: 50vh;
    color: #fff;
}

.subTitleProjects{
    font-size: 5rem;
    margin: 0em 0em 0 2em;
}

.colum-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border: transparent !important;
}

@media(max-width:845px){
    .subTitleProjects {
        margin: 0em 0em 0 5%;
    }
    .form-envio {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    
    .project-backgorund {
    height: 100vh;

    }
}