.projet-backgorund{
    display: flex;
    flex-direction: row;
    background-color: #151515;
    height: 50vh;
    color: #fff;
}

.subTitleProjects{
    font-size: 5rem;
    margin: 1em 0em 0 2em;
}