.TitleSection{
    display: flex;
    color: #fff;
    font-size: 3rem;
    margin: 20px;
    margin-left: 50px;
}

@media(max-width:845px){

    .TitleSection{
        display: inline-block;
        height: auto;
        font-size: 2.5rem;
        margin: 20px;
        text-align:center
    }

}