.backgorund-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #242424;
    height: 50vh;
}

.table-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.subTitleSkills{
    display: flex;
    color: #fff;
    font-size: 5rem;
    margin: 0em 0em 0 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    color: #fff;
    text-align: left;
    padding: 8px;
}

p{
    font-weight: 400;
}