*{
    box-sizing: border-box;
}
.background-contact{
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #242424 !important;
}

.subTitleContact{
    display: flex;
    color: #fff;
    font-size: 5rem;
    margin: 0em 0em 0 2em;
}

form{
    background-color: #242424 !important;

}

.primeira-coluna-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.segunda-coluna-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    padding: 40px;
}

.phrase-contact {
    font-weight: 400;
    margin: 0px 200px 0 200px;
    text-align: justify;
}

input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    color: white;
}

textarea{
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    color: white;

}

.form-envio {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 40px;
}

@media(max-width:844px){

.background-contact{
    display: flex;
    flex-direction: column;
}
.phrase-contact{
    margin: 0;
    text-align: center;
    flex-direction: column;
}

.segunda-coluna-contact{
    width: auto;
}

.form-envio{
 width: auto;   
}

}