.bg-body-tertiary{
    background-color: #000000 !important;
    position: fixed;
    width: 100vw;

}

.navbar-brand {
    color: #ffffff;

}

.navbar-brand:hover {
    color: #51e3a4;
}

.nav-icone-social-midia {
    color: #ffffff;
    font-size:1.5em;
}

.nav-icone-social-midia:hover{
    color: #51e3a4;
}
.navbar-toggler-icon{
    color: #ffffff;
}

